/*--- mobile and desktop ---*/
@media all and (max-width: 900px) {
  #desktop-root {
    display: none;
  }
}

#desktop_content{
    margin:0;
    padding:0;
}

@media all and (min-width: 901px) {
  #mobile-root {
    display: none;
  }
}

/*--- general ---*/

body, html {
    height:auto;
    min-height:100%;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Spline Sans Mono', arial, monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.row {
    margin:0;
}


/*--- header ---*/
nav {
    background-image: linear-gradient(rgba(255, 242, 122, 0.9), rgba(255, 255, 255, 0));
    height: 6rem;
    padding: 0 !important;
    margin: 0;
    vertical-align:center;
    align-items:flex-end;
}

.navbar-header-left {
    text-align:right;
    padding-right: 0;
}

.navbar-header-right {
    text-align: left;
    padding-left: 1.8rem;
}

#header_desktop {
    justify-content: center;
}

.navbar-link {
    color: #000000;
    cursor: crosshair;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 3px;
    float: none;
    margin:0;
    padding:0;
    line-height: 100%;

    &:hover {
        color: #00000050;
        text-decoration: none;
    }
}

.icon-link {
    color: black;
    font-weight: 600;
    font-size: 28px;
    padding: 4px;
    vertical-align: bottom;
}
.icon-link:hover {
    color: rgba(0, 0, 0, 0.20);
    text-decoration: none;
}

/*--- main ---*/
main {
    height: 80vh;
    background: url(../images/about/heat\ palm.gif) no-repeat, radial-gradient(rgba(255, 242, 122, 0.418), rgba(255, 242, 122, 0), #ffffff00,  #ffffff00);
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

#content_main{
    width: 100%;
}

/*--- sections ---*/
.collapsible {
    height: 7rem;
    width: 90%;
    background: #4800ff17;
    color: #000000;
    border: none !important;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 3px;
    float: none;
    margin:0;
    padding:0 60px;
    bottom:0 !important;
    line-height: 100%;
    outline: none !important;


    &::after {
        transform: translate(-50%, -50%);
        transition: all 0.5s;
    }

    &:hover {
        background: url(../images/about/logo-transparent.png) left no-repeat, rgba(255, 255, 255, 0.6);
        transition: all 0.5s;
        padding: 1.5rem 3rem 1.5rem 2rem;

        &::after {
            transition: all 0.5s;
        }
    }

  }

  
.active {
    background: url(../images/about/logo-transparent.png) left no-repeat, rgb(255, 255, 255);
}

.section_content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
    font-size: 14px;
    letter-spacing: 0.05rem;
    text-align: left;
}










title, h1 {
    display: none;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.ratio-container {
  /* Any percent for padding is a percent of the width. So this gives a 4:3
  aspect ratio. See https://css-tricks.com/aspect-ratio-boxes/ */
  padding-top: 75%;
  width: 100%;
  position: relative;
}

.fit-image-to-container {
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.mobile-main {
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: 100;
}





/*--- navigation bars ---*/



.flex-column {
    flex-direction: column;
}









#desktop_navdivider {
    background-color: transparent;

    /* Because of the existing col-sm-12 and col-md-8 classes on this
       element, when the page width increases the columns will get
       wider in proportion to the ratios in those styles.

       To keep the top bar from getting wider (and thus putting any
       remaining width increases into the other two columns) we just
       limit the max width, and override the max-width style from the
       col-sm-12 and col-md-8 classes. This width value is arbitrary
       and can be changed.
     */
    max-width: 200px;
}

.navbar-hr {
    width: 100%;
    max-width:800px;
    height: 1.6em;
    margin-bottom: 0.4em;
}


.anchor {
  display: block;
  visibility: hidden;
}

#topnav_mobile {
    height: 6rem;
}

#togglenav {
    padding: 1.8rem;
    list-style: none;
    background-image: linear-gradient( rgba(255, 250, 175, 0.1),  rgba(255, 242, 122, 0.942), #4800ff41);
    text-align: left;
    color: rgb(10, 10, 10);
    margin: 0;
    height: 15rem;
}


#togglenav .nav-item-lg,
#togglenav .nav-item-sm {
    line-height: 0.9em;
    letter-spacing: 0.1rem;
    font-size: small;
    color: white;
    font-weight: bolder;
}

#togglenav .nav-link {
    cursor: crosshair;
    padding: 0.9em 0;
    margin: 0;
    letter-spacing: 0.1rem;
    font-size:15px;
    color: rgb(15, 15, 15);
    text-align: center;
}

#togglenav .nav-link:focus {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
    cursor:crosshair;
    font-size:15px;
    font-weight:400;
    letter-spacing:0.1rem;
}

#togglenav ul {
    display: block;
}

#mobile_navdivider aside {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    letter-spacing: 0.1rem;
}


#scroll-varied-section-description {
    padding-top: 67%;
    overflow-wrap: break-word;
}


/*--- body styling ---*/

#main_title {
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 0.2rem;
    vertical-align: bottom;
    margin-bottom: 1rem;
}

.section_title {
    font-size: x-large;
    color: moccasin;
    font-weight: 600;
    letter-spacing: 0.2rem;
    vertical-align: bottom;
    padding: 0.5rem 0;
    font-style:italic;
}

.item_title {
    font-size: x-large;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    text-align: left;
    margin-bottom: 2rem;
    cursor: crosshair;
}

.item_title:hover {
    text-decoration:line-through;
}

#body_title_major {
    font-size: larger;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1rem;
    padding-top:1.2rem;
}
#body_title_minor {
    font-weight: bold;
    padding-top: 1rem;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}

.table {
    font-size: small;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.table th {
    width: 4rem;
    padding-left: 0;
}

.divider, .divider_topmost, .divider_item {
    /*background-color: moccasin;*/
    background-color: black;
    height: 2px;
    border: 0;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-link {
    color: black;
    font-weight:500;
    padding:0.4em;
    letter-spacing:2px;
    font-size:medium;
    background-clip: content-box !important;
    background-color: moccasin !important;
}
.about-link:hover{
    text-decoration:line-through;
    color:black;
    cursor:crosshair;
}
.tab {
    padding-left: 1.5rem;
}

.collapse_arrow {
    font-size: large;
}
.collapse_arrow:hover{
    cursor:crosshair;
    background: black;
    color: white;
}

.collapse_arrow.collapsed:before
{
    content:'+ more' ;
    font-style: italic;
    font-size: 18px;
}

.collapse_arrow:before
{
    content:'- less' ;
    font-style: italic;
    font-size: 18px;
}

.nav_arrow {
    font-size: large;
}

.nav_arrow.collapsed:before {
    content: '↓ next';
    font-style: italic;
    font-size: 18px;
}

.nav_arrow:before {
    content: '↑ top';
    font-style: italic;
    font-size: 18px;
}

