---
# This is a YAML comment. You need a YAML front matter section
# like this to enable Liquid templating for this file.
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Tab Info -->
    <link rel="icon" href="images/about/favicon.ico">
    <title>new palm</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Record Label">
    <meta name="keywords" content="music, record label, los angeles">
    <meta name="author" content="Claire Kuang">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Spline+Sans+Mono" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body data-spy="scroll" data-target="#sidenav" data-offset="15">
    <h1>New Palm</h1>
  <div id='mobile-root'>

    <nav class="navbar sticky-top" id="topnav_mobile">
        <div class="container-fluid mt-2 no-margin" id="topnav_mobile_above_divider">
            <div class="navbar-header-right col">
                <a href="" class="navbar-link">N E W</a>
            </div>
            <div class="navbar-header-left col">
                <a href="" class="navbar-link">P A L M</a>
            </div>
        </div>

        <div class="container-fluid" id="mobile_navdivider">
          <div class="p-0 col">
              <hr class="navbar-hr mt-1 no-margin" data-toggle="collapse" data-target="#navbarToggle" aria-controls="#navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          </div>
        </div>

        <div class="collapse shadow-sm" id="navbarToggle">
            <div class="col" id="navbarToggle_content">
                <ul id="togglenav">
                    <li data-id="releases_mobile" class="nav-item-lg" data-toggle="collapse" data-target="#navbarToggle"><a href="#releases_mobile" class="nav-link">RELEASES</a></li>
                    <li data-id="mixes_mobile" class="nav-item-lg" data-toggle="collapse" data-target="#navbarToggle"><a href="#mixes_mobile" class="nav-link">MIXES</a></li>
                    <li data-id="events_mobile" class="nav-item-lg" data-toggle="collapse" data-target="#navbarToggle"><a href="#events_mobile" class="nav-link">EVENTS</a></li>
                    <li data-id="residents_mobile" class="nav-item-lg" data-toggle="collapse" data-target="#navbarToggle"><a href="#residents_mobile" class="nav-link">RESIDENTS</a></li>
                    <li data-id="about_mobile"class="nav-item-lg active" data-toggle="collapse" data-target="#navbarToggle"><a href="#about_mobile" class="nav-link">ABOUT</a></li>
                </ul>
            </div>
        </div>

    </nav>


    <main class="mobile-main">

        <div id="content_body">

            <!-- RELEASES ----------------------------------------------------------------->
            <div id="releases_mobile"> 
                {% include releases.html
                mobile=true
                section_id='releases'
                %}
            </div>

            <!-- MIXES -------------------------------------------------------------->
            <div id="mixes_mobile">
                {% include mixes.html
                mobile=true
                section_id='mixes'
                %}
            </div>

            <!-- EVENTS ------------------------------------------------------------->
            <div id="events_mobile">
                {% include events.html
                mobile=true
                section_id='events'
                %}
            </div>

            <!-- RESIDENTS ------------------------------------------------------------------>
            <div id="residents_mobile">
                {% include residents.html
                mobile=true
                section_id='residents'
                %}
            </div>

            <!-- ABOUT ------------------------------------------------------------------>
            <div id="about_mobile"> 
                <p class="section_title">
                    <span class='desktop-scroll-varied-sidebar-text'>About</span>
                </p>
                <p>
                    A Los Angeles record Label founded by <a class="about-link" href="https://link.here">PAUL</a>.
                    Website built by <a class="about-link" href="https://www.instagram.com/clrkng">Claire Kuang</a>.
                </p>
                <br>
            </div>
        </div>
    </main>

  </div>

  <div id='desktop-root'>

    <!-- Content -->
    <div class="container-fluid h-10" id="desktop_content">

        <!-- HEADER -->
        <nav class="navbar sticky-top" id="header_desktop">
            <div class="navbar-header-left col-md-3" >
            </div>
            <div class="flex-column">
                <a href="" class="navbar-link">NEW PALM</a>
            </div>
            <div class="navbar-header-right col-md-3">
                <ul id="icons">
                    <li class="d-inline"><a href="https://www.instagram.com/new.palm/" class="icon-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="d-inline"><a href="https://soundcloud.com/newpalm" class="icon-link"><i class="fa fa-soundcloud"></i></a></li>
                    <li class="d-inline"><a href="https://newpalm.bandcamp.com/" class="icon-link"><i class="fa fa-bandcamp"></i></a></li>
                </ul>
            </div>
        </nav>

        <main>
            <div id="content_main">
                <!-- RELEASES ----------------------------------------------------------------->
                <button class="collapsible">RELEASES</button>
                <div class="section_content" id="releases">
                    {% include releases.html
                        mobile=false
                        section_id='releases'
                        %}
                </div>
            
                <!-- MIXES -------------------------------------------------------------------->
                <button class="collapsible">MIXES</button>
                <div class="section_content" id="mixes">
                    {% include mixes.html
                    mobile=false
                    section_id='mixes'
                    %}
                </div>

                <!-- EVENTS ------------------------------------------------------------------->
                <button class="collapsible">EVENTS</button>
                <div class="section_content" id="events">
                    {% include events.html
                    mobile=false
                    section_id='events'
                    %}
                </div>

                <!-- RESIDENTS ---------------------------------------------------------------->
                <button class="collapsible">RESIDENTS</button>
                <div class="section_content" id="residents">
                    {% include residents.html
                    mobile=false
                    section_id='residents'
                    %}
                </div>

                <!-- ABOUT -------------------------------------------------------------------->
                <button class="collapsible">ABOUT</button>
                <div class="section_content" id="about"> 
                    <p>
                        A Los Angeles record Label founded by <a class="about-link" href="https://link.here">PAUL</a>.
                        Website built by <a class="about-link" href="https://www.instagram.com/clrkng">Claire Kuang</a>.
                    </p>
                </div>
            </div>
        </main>
        
    </div>

  </div>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

<!-- Custom JS -->
<script src="js/main.js"></script>

</html>
