{% comment %}
  Required Arguments:
  - mobile (boolean)

  Use it like:

  {% include releases.html
    mobile=true
  %}
{% endcomment %}


{% assign releases = site.releases | sort: 'year' | reverse %}

{% if include.mobile %}
  <!-- For consistency, should possibly refactor the mobile IDs to remove the work_ prefix. -->
  <span class="anchor" id="{{ include.section_id }}_mobile"></span>
{% else %}
  <span class="anchor" id="{{ include.section_id }}"></span>
{% endif %}

{% for release in releases %}
  <button class="collapsible-item">{{ release.catalogue }} {{ release.artist }} {{ release.name }}</button>
  <div class="release_content">

      
  </div>
    <table class="table table-borderless table-sm" id="release_info">
        <tbody>
            <tr><th scope="row">Tracklist</th><td>{{ release.tracklist }}</td></tr>
            <tr><th scope="row">Date</th><td>{{ release.date }}</td></tr>
            <tr><th scope="row">Mastering</th><td>{{ release.mastering }}</td></tr>
            <tr><th scope="row">Pressing</th><td>{{ release.pressing }}</td></tr>
            <tr><th scope="row">Distribution</th><td>{{ release.distribution }}</td></tr>
        </tbody>
    </table>

    {% include item_description_collapse.html item=release %}

{% endfor %}
