{% comment %}
  Required Arguments:
  - mobile (boolean)

  Use it like:

  {% include residents.html
    mobile=true
  %}
{% endcomment %}


{% assign residents = site.residents %}

{% if include.mobile %}
  <!-- For consistency, should possibly refactor the mobile IDs to remove the work_ prefix. -->
  <span class="anchor" id="{{ include.section_id }}_mobile"></span>
{% else %}
  <span class="anchor" id="{{ include.section_id }}"></span>
{% endif %}

{% for resident in residents %}
    <p
      class='resident_name collapsed'
      data-toggle='collapse'
      data-target='#{{ carousel_id }}'
      href='#{{ carousel_id }}'
    >
      {% if include.mobile %}
        <!-- This class isn't used for styling. See main.js  -->
        <span class='mobile-scroll-varied-sidebar-text'>
      {% else %}
        <span class='desktop-scroll-varied-sidebar-text'>
      {% endif %}
        {{ resident.name }}
      </span>
    </p>

    <table class="table table-borderless table-sm" id="resident_info">
        <tbody>
            <tr><th scope="row">Soundcloud</th><td>{{ resident.soundcloud }}</td></tr>
        </tbody>
    </table>

    {% include item_description_collapse.html item=resident %}

    <hr class="divider_item">

{% endfor %}
